@{
    ViewBag.Title = "Авторизация";
}

<div class="container">
    
    <form class="form-signin" method="post">
        <h2 class="form-signin-heading">Авторизация</h2>
        <input name="login" type="text" class="input-block-level" placeholder="Имя пользователя">
        <input name="password" type="password" class="input-block-level" placeholder="Пароль">
        <button class="btn btn-large btn-primary" type="submit">Войти</button>
    </form>

</div>
